
.overallContainer {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px;
    width: 92%;
    height: 80vh;
    margin-left: 30px;
    margin-top: 30px;
}
.graphicsContainer {
    flex-basis: 61%;
    background-color: #000000;
    padding: 15px;
    border: 3px solid black;
    width: 50vw;
    height: 80vh;
    margin-left: 30px;
    margin-top: 26px;
    border-radius: 23px;
}

.graphicsInitial h1 {
    font-size: 50px;
    margin-bottom: 3px;
    color: #fff5f5;
    font-weight: lighter;
    margin-top: 8px;
    margin-left: 20px;

}
.graphicsInitial p {
    font-size: 16px;
    color: #fff5f5;
    margin-left: 20px;
    
}
.containerBoard {
    flex-basis: 27%;
    padding: 20px;
}
.containerTitle {
    margin-bottom: 10px;

}
.containerTitle p {
    font-size: 20px;
    font-weight: 495;
}
.containerTitle input {
    width: 95%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #EFF1F7;
    background-image: url(https://cdn.icon-icons.com/icons2/2576/PNG/512/magnifier_search_magnifyng_glass_icon_153921.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 23px;

}

.lying {
    border: none;
    border-top: 1px solid #E8E8E8;
    margin: 10px 0;
}

.cryptoContainer {
    margin-top: 1px;
    overflow:auto;
    max-height: 80%;
}

.cryptos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0%;
}


.cryptos:hover {
    background-color: rgb(224, 221, 221);
    cursor: pointer;
}
.cryptos img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    text-align: right;
    font-weight: bold;
}


.symbolYName {
    margin-left: 10px;

}

.symbolYName p {
    font-size: 14px;
}

.symbolYName p:first-child {
    font-weight: bold;
}

.symbolYName p:last-child {
    color: #8E8E8E;

}

