.body {
    background-color: #B8BCCB;
    width: 100%;
    padding: 15px;
}
.overallContainer {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid black;
    width: 78vw;
    height: 80vh;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 15px;
}
.graphicsContainer {
    flex-basis: 62%;
    background-color: #000000;
    padding: 20px;
    border: 1px solid black;
    width: 30vw;
    height: 65vh;
    margin-left: 30px;
    margin-top: 26px;
    border-radius: 23px;
}
.graphicsInitial {
    margin-bottom: 20px;
}
.graphicsInitial h1 {
    font-size: 50px;
    margin-bottom: 3px;
    color: #fff5f5;
    font-weight: lighter;

}
.graphicsInitial p {
    font-size: 16px;
    color: #fff5f5;
}
.containerBoard {
    flex-basis: 27%;
    padding: 20px;
}
.containerTitle {
    margin-bottom: 10px;

}
.containerTitle p {
    font-size: 20px;
    font-weight: 495;
}
.containerTitle input {
    width: 95%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #EFF1F7;
    background-image: url(https://cdn.icon-icons.com/icons2/2576/PNG/512/magnifier_search_magnifyng_glass_icon_153921.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 23px;

}

.lying {
    border: none;
    border-top: 1px solid #E8E8E8;
    margin: 10px 0;
}

.cryptoContainer {
    margin-top: 0px;
    overflow: auto;
    max-height: 65%;
}

.cryptos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cryptos img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.price {
    margin-left: auto;
    text-align: right;
    font-weight: bold;
    margin-left: 10px;
}

.symbolYName {
    margin-left: 10px;
    margin-right: 13vh;
}

.symbolYName p {
    font-size: 14px;
}

.symbolYName p:first-child {
    font-weight: bold;
}

.symbolYName p:last-child {
    color: #8E8E8E;

}